body {
	background-color: #bdf1ff;
}

a:link {
	text-decoration: none;
}

.size-form {
	height: 70px;
	width: 300px;
}

.form {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 10px;
}

.position-buttons {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 30px;
}

.position-buttonConverter {
	margin: 0 17px;
}

.position-buttonLimpar {
  	margin: 15 0px;
}

.position-alert {
	margin-top: 10px;
	text-align: center;
}

.position-alert2 {
	margin-top: -10px;
	text-align: center;
}

.dica {
	text-align: center;
}

.result {
	text-align: center;
	margin-top: 20px;
}